@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  @apply text-secondaryContrast tracking-wider p-4 bg-red-800 md:self-center rounded-md mb-4
}

.card {
  @apply mt-5 mb-5 md:w-3/4 px-4 py-5 shadow-md dark:shadow-slate-600 rounded md:self-center bg-secondaryContrast
}

.more-chuck {
  @apply p-4 md:self-center shadow-md rounded-md bg-primary text-secondaryContrast outline-none cursor-pointer
}

.text-focus-in {
	-webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
